* {
  margin: 0;
  padding: 0;
}

body {
  margin:10px;
  text-align: center;
  overflow: auto;
}

canvas {
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  width: 45%;
  float: left;
}

#rules {
  list-style: none;
  padding: 5px;
}

#about > div {
  overflow: auto;
}

#about {
  margin: 10px;
}

#palette {
  background: #efefef;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  width: 100%;
  float: right;
}

#palette > div {
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px;
  text-align: center;
}
